body {
  font-family: 'Roboto', sans-serif;
  margin: 0px auto;
  padding: 5px;
}

button {
  margin: 10px;
}

.link {
  cursor: pointer;
}

.sortorder:after {
    content: '\25b2';
}
.sortorder.reverse:after {
    content: '\25bc';
}
